./system-files/home/chronos/Default/MyFiles/*
./system-files/home/chronos/u-865d61a95016778f5a8ccab6cc197fd5bbdd6bd4/MyFiles/*
./system-files/home/chronos/user/MyFiles/*
./system-files/opt/google/chrome/chrome
./system-files/opt/google/vms/android/system.raw.img
./system-files/var/cache/dlc/termina-tools-dlc/package/dlc_a/dlc.img
./system-files/var/cache/dlc/termina-tools-dlc/package/dlc_b/dlc.img

