# Copyright 2021 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.
# These seccomp rules specify only the syscalls used by elan_i2chid_read_fwid
# and elan_i2chid_iap tools when getting the current firmware ID and version.
# rseq should be first due to frequency and purpose to decrease nptl latency
rseq: 1

# IOCTL Information:
#  elani2chid_tools:
#   HIDIOCGRAWINFO: 0x80084803
#  modetest:
#   DRM_IOCTL_MODE_GETPROPERTY: 0xc04064aa
#   DRM_IOCTL_MODE_GETPROPBLOB: 0xc01064ac
#   DRM_IOCTL_MODE_GETENCODER: 0xc01464a6
#   DRM_IOCTL_MODE_GETPLANERESOURCES: 0xc01064b5
#   DRM_IOCTL_MODE_GETCRTC: 0xc06864a1
#   DRM_IOCTL_MODE_GETPLANE: 0xc02064b6
#   DRM_IOCTL_GET_UNIQUE: 0xc0106401
#   DRM_IOCTL_MODE_GETCONNECTOR: 0xc05064a7
#   DRM_IOCTL_MODE_GETRESOURCES: 0xc04064a0
#   DRM_IOCTL_VERSION: 0xc0406400
#   DRM_IOCTL_SET_CLIENT_CAP: 0x4010640d
#   DRM_IOCTL_MODE_OBJ_GETPROPERTIES: 0xc02064b9
#  termios
#   TCGETS: 0x00005401
# syscall Information from jouralctrl:
#  elani2chid_tools:
#   dup2: 33
#   openat: 257
#  modetest syscall:
#   mmap: 9
#   mprotect: 10
#   munmap: 11
#   rt_sigaction: 13
#   rt_sigprocmask: 14
#   ioctl: 16
#   nanosleep: 35
#   set_tid_address: 218
#   stat64: 195
#   fstat64: 197
#  dash syscall:
#   getpid: 39
#   geteuid32: 201
#   getppid: 110

execve: 1
clone: 1
clone3: 1
pipe2: 1
wait4: 1
restart_syscall: 1
rt_sigreturn: 1
exit: 1
exit_group: 1
brk: 1
fcntl: 1
close: 1
read: 1
write: 1
ioctl: 1
fstat: 1
newfstatat: 1
getrandom: 1
statx: 1
lseek: 1
readlinkat: 1
faccessat: 1
faccessat2: 1
uname: 1
getdents64: 1
gettimeofday: 1
clock_gettime: 1
openat: 1
dup3: 1
mmap: arg2 in ~PROT_EXEC || arg2 in ~PROT_WRITE
mseal: 1
mprotect: arg2 in ~PROT_EXEC || arg2 in ~PROT_WRITE
rt_sigaction: 1
nanosleep: 1
clock_nanosleep: 1
set_robust_list: 1
munmap: 1
rt_sigprocmask: 1
set_tid_address: 1
getpid: 1
geteuid: 1
getppid: 1
prlimit64: 1
fstatfs: 1
pselect6: 1
pread64: 1
gettid: 1
