# Copyright 2024 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# Twist the INPUT properties by checking bluetooth related properties.
# If a bluetooth device advertises itself as a mouse, the properties
# ID_INPUT_KEYBOARD and ID_INPUT_KEY must be set to empty. This helps
# chrome OOBE to make correct decision for pairing bluetooth keyboard
# and mouse.
# Microsoft Sculpt Touch Mouse is an example. It is a pure mouse but
# reports capabilities of both mouse events and keyboard events. This
# makes OOBE to pair with it as keyboard and mouse which prevents
# other actual bluetooth keyboard from being paired.
#
# Product is BUSTYPE/VENDOR/PRODUCT/VERSION. Bus type 0x5 is Bluetooth.
SUBSYSTEM=="input", ACTION=="add|change", ENV{ID_INPUT}=="1", \
  ENV{PRODUCT}=="5/*", ATTR{uniq}!="", \
  PROGRAM="/usr/bin/get_bluetooth_device_class_floss.sh $attr{uniq}"
RESULT=="mouse", ENV{ID_INPUT_KEYBOARD}=="1", ENV{ID_INPUT_KEYBOARD}=""
RESULT=="mouse", ENV{ID_INPUT_KEY}=="1", ENV{ID_INPUT_KEY}=""
