// Copyright 2024 The ChromiumOS Authors
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.

// Allow sudo users to use synaptic
polkit.addRule(function(action, subject) {
    if (
        action.id === 'com.ubuntu.pkexec.synaptic' &&
        subject.isInGroup('sudo')
    ) {
        return polkit.Result.YES;
    } else {
        return polkit.Result.NOT_HANDLED;
    }
});